@if (ShowTestControl && IsOrderMode)
{
    <MudPaper Height="94dvh" Outlined="!ShowTestControl">
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 999;">
            <MudText><b>Tag:</b> @(CurrentTestTag?.Name ?? "Done Testing!")</MudText>
            <MudText><b>Description:</b> @(CurrentTestTag?.Description ?? "Done Testing!") </MudText>
            <MudButton Variant="Variant.Filled" 
                       Style="@TestButtonStyle" 
                       title="Fire Tag (hold to keep firing)"
                       @onpointerup="() => OnFireUp.InvokeAsync(CurrentTestTag)" 
                       @onmouseleave="() => OnFireUp.InvokeAsync(CurrentTestTag)" 
                       @onpointerdown="() => OnFireDown.InvokeAsync(CurrentTestTag)" 
                       Disabled="@(CurrentTestTag?.Name != null ? !CurrentTestTag.Name.Contains(":O.") || !TestingStarted : true)"> 
                FIRE
            </MudButton>
            <MudButton Variant="Variant.Filled" 
                       Style="user-select:none;-webkit-user-select:none;font-size:100px; margin-top:25px;background-color:red" 
                       title="Mark as failed"
                       @ondblclick="() => OnManualFail.InvokeAsync(CurrentTestTag)" 
                       Disabled="@(!TestingStarted || CurrentTestTag?.Name == null)"> 
                FAIL
            </MudButton>
        </div>
    </MudPaper>
}

@code {
    [Parameter] public bool ShowTestControl { get; set; } = true;
    [Parameter] public bool IsOrderMode { get; set; }
    [Parameter] public bool TestingStarted { get; set; }
    [Parameter] public Io? CurrentTestTag { get; set; }
    [Parameter] public string TestButtonStyle { get; set; } = "";
    
    [Parameter] public EventCallback<Io?> OnFireUp { get; set; }
    [Parameter] public EventCallback<Io?> OnFireDown { get; set; }
    [Parameter] public EventCallback<Io?> OnManualFail { get; set; }
} 